name: egy_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  icons_launcher: ^2.1.7

# Configuration for icons_launcher (generating app icons)
icons_launcher:
  image_path: "assets/app_icon.png"
  platforms:
    android:
      enable: true
      adaptive_background_color: "#ffffff"
      adaptive_foreground_image: "assets/app_icon.png"
    ios:
      enable: true

flutter:
  uses-material-design: true

  # Include app icon as an asset
  assets:
    - assets/app_icon.png

  # Fonts configuration
  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf
